<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="moodpicture">

			<flux:form.sheet name="Text" label="Text">
				<flux:field.text name="settings.teasertext" label="Whatever" enableRichText="1" />
			</flux:form.sheet>

			<flux:form.sheet name="Image" label="Image">
				<flux:field.inline.fal name="settings.images" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">

	</f:section>

	<f:section name="Main">

	</f:section>
</div>
